{% extends 'base.html' %} {% load static %} {% block content %}
<div class="col-md-12 card card-body">
  <div class="d-flex justify-content-end">
    <a href="{% url 'Adminpanel:add_chauffeur' %}" class="btn btn-success m-2"
      ><i class="fa fa-plus mr-2" aria-hidden="true"></i>Ajouter</a
    >
  </div>

  <div class="col-md-12 card card-body">
    <table class="table table-striped" id="myTable">
      <thead>
        <tr>
          <th>Code</th>
          <th>Nom</th>
          <th>Domaine</th>
          <th>Email</th>
          <th>Contact</th>
          <th>Ville</th>
          <th>Quartier</th>
        </tr>
      </thead>

      <tfoot>
        <tr>
          <th>Code</th>
          <th>Nom</th>
          <th>Domaine</th>
          <th>Email</th>
          <th>Contact</th>
          <th>Ville</th>
          <th>Quartier</th>
        </tr>
      </tfoot>
      <tbody>
        {% for partenaire in partenaires %}

        <tr
          class="cursor-pointer"
          onclick="window.location.href='{% url 'Adminpanel:modify_chauffeur' chauffeur.pk %}'"
        >
          <td>{{ chauffeur.code}}</td>
          <td>{{ chauffeur.nom}}</td>
          <td>{{ chauffeur.domaine}}</td>
          <td>{{ chauffeur.email}}</td>
          <td>{{ chauffeur.telephone}}</td>
          <td>{{ chauffeur.ville}}</td>
          <td>{{ chauffeur.idquartier}}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock %} {% block jsfiles %}
<script>
  $(document).ready(function () {
    console.log("shjfhkshkfhds");
    $("#myTable").DataTable({
      order: [],
      language: {
        url: "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/French.json",
      },
    });
    $("#myTable tfoot th").each(function (i) {
      if (!$("#myTable tfoot th").eq(i).hasClass("no-filter")) {
        var select = $(
          '<select class="form-control"><option value=""></option></select>'
        )
          .appendTo($(this).empty())
          .on("change", function () {
            table.column(i).search($(this).val()).draw();
          });

        table
          .column(i)
          .data()
          .unique()
          .sort()
          .each(function (d, j) {
            select.append('<option value="' + d + '">' + d + "</option>");
          });
      }
    });
  });
</script>
{% endblock %}
